<h1>Solicitud para restablecer contraseña</h1>

<p>Para restablecer tu contraseña en Padel League, haz click en el siguiente enlace:</p>

<%= link_to "Crear nueva contraseña", edit_players_password_url(@player.reset_password_token) %>

<p>Proceda!</p>
