<%# locals: (title: "", value: "") %>

<div class="border border-gray-100 rounded-sm p-4 w-full">
  <dt class="text-sm font-medium leading-6 text-gray-900"><%= title %></dt>
  <dd class="mt-1 text-4xl leading-6 text-gray-700 empty:w-12 empty:border empty:border-gray-200"><%= value %></dd>
</div>
