<%= render "application/main",
  title: "Amigos" do %>
  <div class="grid grid-cols-2 gap-4">
    <%= link_to new_players_invitee_path, class: "btn btn-primary" do %>
      Invitar a un amigo
    <% end %>
    <%= link_to "Agregar amigo via URL", players_friend_token_path, class: "btn btn-primary" %>
  </div>

  <div class="flex flex-col gap-4 mt-4">
    <div>
      <% if @friendships.empty? %>
        <p>No tienes amigos padeleros aún</p>
      <% else %>
        <div class="flex flex-col divide-y divide-gray-200">
          <%= render partial: "friendship", collection: @friendships %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
