<%= render "application/main",
  title: "Partidos" do %>
  <div class="flex flex-col gap-4">
    <% @matches.each do |match| %>
      <%= render "match_index", match: %>
    <% end %>
  </div>
<% end %>
