<div class="py-2">
  <%= render "application/datalist", data: {
    "Nombre": player.name,
    "Email": player.email,
    "Fono": player.phone,
    "Cuenta": player.confirmed_at.present? ? 'Confirmada' : 'Pendiente'
  } %>
</div>
