<% if flash[:notice] || flash[:alert] %>
  <div x-data="{ open: true }">
    <div class="pointer-events-none fixed inset-x-0 top-0 p-5 z-50"
      x-show="open" x-transition>
      <div class="<%= flash[:notice].present? ? "bg-gray-900" : "bg-secondary-600" %> pointer-events-auto flex items-center justify-between gap-x-6 px-6 py-2.5 rounded-md">
        <p class="text-sm leading-6 text-white">
        <%= flash[:notice] || flash[:alert] %>
        </p>
        <button type="button" class="-m-3 flex-none p-3 focus-visible:outline-offset-[-4px]"
                              x-on:click="open = !open">
          <span class="sr-only">Dismiss</span>
          <%= inline_svg_tag "icons/x-mark.svg", class: "h-4 w-4 text-white" %>
        </button>
      </div>
    </div>
  </div>
<% end %>
